extends base.pug

block style
    style
        include ../static/style.css
        include ../static/styleAbout.css

block content
    div.container
        img(src="static/img/about-us.jpeg", alt="About Us")
        p
            | Core Dance Academy is a premier dance institution dedicated to providing the best dance education and fostering a love for dance in students of all ages.
            | Our mission is to inspire and train individuals to become proficient dancers by offering a wide range of dance styles and experienced instructors. 
            | We believe that dance is not just a physical activity but also an art form that expresses emotions and tells stories.
            br
            | Join us on our journey to explore the world of dance and experience the joy of movement.
