extends base.pug
block style
    style
        include ../static/style.css
        include ../static/styleAbout.css


block content 
    img(src="static/img/ThankYou.jpg.webp", alt="error 500",style='height:90vh; width:100vw;')
