/* styleAbout.css */

.container {
    text-align: center;
    padding: 10px;
    min-height: 88vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  
  .container p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 10px 0;
  }
  
  img {
    max-width: 100%;
    height: 300px;
    
    border: none;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); */
  }
  
  /* Style links within the content */
  a {
    color: #d43b3b;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  